* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-bg-color: #2ba6db;
    --secondary-bg-color: rgb(63, 49, 49);
    --primary-text-color: #282626;
    --secondary-text-color: darkblue;
    --body-font: Arial, Helvetica, sans-serif;
    --header-font: sans-serif, Arial; 
}

body {
    font-size: 16px;
    font-family: var(--body-font);
    color: var(--primary-text-color);
}

header, main, footer {
    width: 840px;
    margin: 0 auto;
}

header {
    display: grid;
    grid-template-columns: 1fr 2fr;
    align-items: center;
    background-color: var(--secondary-text-color);
}

header .logo {
    margin-left: 5rem;
}
header .logo img {
    width: 100px;
    height: auto;
    border-radius: 50%;
}

nav ul{
    display: flex;
    list-style: none;
}

nav li {
    margin: .5rem;
    flex: 1 1 auto;
}

nav a {
    text-decoration: none;
    color: #ffffff;
}

h1, h2 {
    color: var(--secondary-text-color);
    font-family: var(--header-font);
}

nav, p, section, article {
    margin: 16px;
    padding: 8px;
}
.socialmedia {
    display: inline;
}

.socialmedia a{
    text-decoration: none;
}

.socialmedia a img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin: 10px;
}

.hero {
    position: relative;
}

.hero img.hero-bg {
    display: block;
    width: 100%;
    height: auto;
}
.hero h1 {
    position: absolute;
    top: 20px;
    width: 100%;
    color: #ffffff;
    text-align: center;
    padding: 16px;
    opacity: 0.7;
    background-color: var(--secondary-text-color);
}

article {
    position: absolute;
    bottom: 20px;
    background-color: var(--secondary-text-color);
    opacity: 0.7;
    padding: 8px;
    color: #ffffff;
}

article img {
    float: right;
    width: 125px;
    border: 5px solid rgba(0 0 0 / 10%);
}

.history .grid {
    display: grid;
    grid-template-columns: 2fr 1fr 2fr;
    margin: .5rem;
}

.grid img {
    width: 100%;
    height: auto;
}

.history, .adventure {
    width: 100%;
    margin: 0;
    padding-left: 0;
    padding-right: 0;
}

.history h2, .adventure h2{
    color: #ffffff;
    margin: 0;
    text-align: center;
    background-color: var(--secondary-text-color);
    padding: 8px;
}

.adventure-grid {
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: repeat(5, 1fr);
    margin: .5rem;
    align-items: center;
    text-align: center;
}

.adventure-grid img {
    width: 100%;
    height: auto;
}


footer {
    display: flex;
    justify-content: space-between;
    background-color: var(--secondary-text-color);
    color: #ffffff;
    padding: .5rem;
}

/* Contact page */
.contact-info {
    text-align: center;
    margin: .5rem;
}
.contact-info p {
    font-size: 1rem;
    margin: 0;
    padding: .2rem;
}

.contact-section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
}

.contact-section .map iframe {
    width: 100%;
    height: 420px;
    border: none;
}

.contact-section form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.contact-section form input,
.contact-section form textarea {
    padding: .5rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 1rem;
    font-family: var(--body-font);
}

.contact-purpose {
    display: flex;
    align-items: start;
    justify-content: start;
}

.contact-purpose p {
    margin: 0;
    padding-left: 0;
    padding-top: 2rem;
}

.contact-purpose .form-group {
    padding: .5rem;
}

button {
    background-color: var(--secondary-text-color);
    color: #fff;
    border: none; 
    cursor: pointer;
}

button:hover {
    background-color: var(--primary-bg-color);
}

.contact-section form button {
    padding: .75rem;
    font-size: 1rem;
    border-radius: 4px;
}

.mission h2 {
    text-align: center;
}
.mission-grid {
    display: flex;
    justify-content: space-around;
    margin: .5rem;
    text-align: center;
}

.mission-grid figure img {
    width: 100px;
    height: 100px;
}

/* Newsletter */
.newsletter {
    width: 840px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
    margin-bottom: 1rem;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.newsletter .newsletter-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.newsletter .newsletter-form {
    display: flex;
    justify-content: center;
    align-items: center;
}

.newsletter .newsletter-form form {
    display: flex;
    flex-direction: column;
    margin: .5rem;
}

.newsletter .newsletter-form input {
    padding: .7rem;
    border-color: var(--secondary-bg-color);
    margin: .5rem;
}
.newsletter .newsletter-form input::placeholder {
    font-size: 1rem;
}

.newsletter .newsletter-form button {
    padding: .73rem;
    margin-left: -4.4px;
    border-color: var(--secondary-bg-color);
    font-size: 1rem;
}

/* Call to action */
.call-to-action, .about-section {
    text-align: center;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

hr {
    height: .18rem;
    background-color: var(--secondary-text-color);
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.call-to-action h2{
    padding-top: 1rem;
}

.call-to-action .image-grid {
    display: grid;
    gap: 5px;
    grid-template-columns: repeat(3, 1fr);
}

.call-to-action .image-grid img, .about-section .about-section-grid img, .trip-area .card-trip .card img {
    width: 100%;
    height: auto;
}

.call-to-action button, .trip-call-to-action button {
    padding: 1rem;
    margin: 1rem;
}

.call-to-action button a, .trip-call-to-action button a, .trip-area .card-trip .card button a {
    text-decoration: none;
    color: #ffffff;
    font-size: 1rem;
    font-weight: 600;
}

/* About home section */
.about-section .about-section-grid {
    display: grid;
    gap: 5px;
    grid-template-columns: repeat(2, 1fr);
}


/* Trips page */
.trip-call-to-action, .trip-area {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    text-align: center;
}

.trip-call-to-action p {
    font-size: 1rem;
    line-height: 2rem;
}

.trip-call-to-action button {
    width: 300px;
    font-size: 1.2rem;
    font-weight: 600;
}

.trip-area .card-trip {
    display: flex;
    justify-content: space-around;
}

.trip-area .card-trip .card {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    margin: .2rem;
    padding: .5rem;
}

.trip-area .card-trip .card button {
    padding: 1rem;
    width: 200px;
    margin: .5rem;
}

.trip-list {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    text-align: center;
}
.trip-list table {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

.trip-list table td, th {
    border: 1px solid #dddddd;
    padding: .5rem;
}

.trip-list table tr:nth-child(even) {
    background-color: #f2f2f2;
}

.trip-list table tr:hover {
    background-color: #dddddd;
}

.trip-list table th {
    padding-top: .7rem;
    padding-bottom: .7rem;
    text-align: left;
    background-color: var(--secondary-text-color);
    color: #ffffff;
}